Importing all the libraries required for the data analysis and science

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('50_Startups.csv')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
R&D Spend          50 non-null float64
Administration     50 non-null float64
Marketing Spend    50 non-null float64
State              50 non-null object
Profit             50 non-null float64
dtypes: float64(4), object(1)
memory usage: 1.8+ KB

In [7]:
data.describe()

           R&D Spend  Administration  Marketing Spend         Profit
count      50.000000       50.000000        50.000000      50.000000
mean    73721.615600   121344.639600    211025.097800  112012.639200
std     45902.256482    28017.802755    122290.310726   40306.180338
min         0.000000    51283.140000         0.000000   14681.400000
25%     39936.370000   103730.875000    129300.132500   90138.902500
50%     73051.080000   122699.795000    212716.240000  107978.190000
75%    101602.800000   144842.180000    299469.085000  139765.977500
max    165349.200000   182645.560000    471784.100000  192261.830000

In [12]:
dummy = pd.get_dummies(data['State'])

In [27]:
data.head(15)

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65

In [48]:
data = data.drop('State',axis=1)

In [50]:
data = pd.concat([data,dummy],axis=1)

In [57]:
data

,R&D Spend,Administration,Marketing Spend,Profit,California,Florida,New York
0,165349.20,136897.80,471784.10,192261.83,0,0,1
1,162597.70,151377.59,443898.53,191792.06,1,0,0
2,153441.51,101145.55,407934.54,191050.39,0,1,0
3,144372.41,118671.85,383199.62,182901.99,0,0,1
4,142107.34,91391.77,366168.42,166187.94,0,1,0
5,131876.90,99814.71,362861.36,156991.12,0,0,1
6,134615.46,147198.87,127716.82,156122.51,1,0,0
7,130298.13,145530.06,323876.68,155752.60,0,1,0
8,120542.52,148718.95,311613.29,152211.77,0,0,1
9,123334.88,108679.17,304981.62,149759.96,1,0,0
10,101913.08,110594.11,229160.95,146121.95,0,1,0
11,100671.96,91790.61,249744.55,144259.40,1,0,0
12,93863.75,127320.38,249839.44,141585.52,0,1,0
13,91992.39,135495.07,252664.93,134307.35,1,0,0
14,119943.24,156547.42,256512.92,132602.65,0,1,0
15,114523.61,122616.84,261776.23,129917.04,0,0,1
16,78013.11,121597.55,264346.06,126992.93,1,0,0
17,94657.16,145077.58,282574.31,125370.37,0,0,1
18,91749.16,114175.79,294919.57,124266.90,0,1,0
19,86419.70,153514.11,0.00,122776.86,0,0,1
20,76253.86,113867.30,298664.47,118474.03,1,0,0
21,78389.47,153773.43,299737.29,111313.02,0,0,1
22,73994.56,122782.75,303319.26,110352.25,0,1,0
23,67532.53,105751.03,304768.73,108733.99,0,1,0
24,77044.01,99281.34,140574.81,108552.04,0,0,1
25,64664.71,139553.16,137962.62,107404.34,1,0,0
26,75328.87,144135.98,134050.07,105733.54,0,1,0
27,72107.60,127864.55,353183.81,105008.31,0,0,1
28,66051.52,182645.56,118148.20,103282.38,0,1,0
29,65605.48,153032.06,107138.38,101004.64,0,0,1
30,61994.48,115641.28,91131.24,99937.59,0,1,0
31,61136.38,152701.92,88218.23,97483.56,0,0,1
32,63408.86,129219.61,46085.25,97427.84,1,0,0
33,55493.95,103057.49,214634.81,96778.92,0,1,0
34,46426.07,157693.92,210797.67,96712.80,1,0,0
35,46014.02,85047.44,205517.64,96479.51,0,0,1
36,28663.76,127056.21,201126.82,90708.19,0,1,0
37,44069.95,51283.14,197029.42,89949.14,1,0,0
38,20229.59,65947.93,185265.10,81229.06,0,0,1
39,38558.51,82982.09,174999.30,81005.76,1,0,0
40,28754.33,118546.05,172795.67,78239.91,1,0,0
41,27892.92,84710.77,164470.71,77798.83,0,1,0
42,23640.93,96189.63,148001.11,71498.49,1,0,0
43,15505.73,127382.30,35534.17,69758.98,0,0,1
44,22177.74,154806.14,28334.72,65200.33,1,0,0
45,1000.23,124153.04,1903.93,64926.08,0,0,1
46,1315.46,115816.21,297114.46,49490.75,0,1,0
47,0.00,135426.92,0.00,42559.73,1,0,0
48,542.05,51743.15,0.00,35673.41,0,0,1
49,0.00,116983.80,45173.06,14681.40,1,0,0

In [60]:
y = data.iloc[:,3]

In [62]:
x = data.drop('Profit',axis=1)

In [65]:
from sklearn.cross_validation import train_test_split

In [75]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=0)

In [67]:
from sklearn.linear_model import LinearRegression

In [68]:
model = LinearRegression()

In [77]:
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [79]:
y_pred = model.predict(x_test)

In [80]:
model.score(x,y)

0.9489303683771343

Let us perform the same model using different package ie statsmodel.formula.api smf

In [87]:
import statsmodels.formula.api as smf

In [88]:
data.columns = [cname.replace(' ','_') for cname in data.columns]

In [96]:
data.columns = [cname.replace('&','_')for cname in data.columns]

In [97]:
model = smf.ols(formula='''Profit ~ Administration + Marketing_Spend + R_D_Spend + Profit + 
                California + Florida + New_York''',data=data).fit()

In [101]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Profit   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 6.505e+29
Date:                Mon, 30 Jul 2018   Prob (F-statistic):               0.00
Time:                        17:06:35   Log-Likelihood:                 1066.3
No. Observations:                  50   AIC:                            -2119.
Df Residuals:                      43   BIC:                            -2105.
Df Model:                           6
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept        5.275e-11   1.15e-10      0.458      0.649   -1.79e-10    2.85e-10
Administration   2.487e-16   7.93e-16      0.314      0.755   -1.35e-15    1.85e-15
Marketing_Spend -1.561e-16   2.67e-16     -0.586      0.561   -6.94e-16    3.81e-16
R_D_Spend        8.604e-16   1.97e-15      0.437      0.664   -3.11e-15    4.83e-15
Profit              1.0000   2.28e-15   4.38e+14      0.000       1.000       1.000
California       1.228e-11   4.68e-11      0.263      0.794    -8.2e-11    1.07e-10
Florida          2.501e-11   5.04e-11      0.496      0.622   -7.66e-11    1.27e-10
New_York         1.023e-11   4.71e-11      0.217      0.829   -8.48e-11    1.05e-10
==============================================================================
Omnibus:                        3.952   Durbin-Watson:                   0.043
Prob(Omnibus):                  0.139   Jarque-Bera (JB):                2.003
Skew:                           0.186   Prob(JB):                        0.367
Kurtosis:                       2.093   Cond. No.                     1.21e+21
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.11e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [100]:
model.rsquared

1.0